---
import posts from "../data/blog.json";
import products from "../data/products.json";
import { getPostImage, getPostUrl } from "../lib/blog.js";
import { getImageSrcset, getImageVariant } from "../lib/catalog.js";
---
<section class="section-insights flat-spacing">
  <div class="container">
    <div class="sect-heading text-center wow fadeInUp">
      <h3 class="s-title">Полезные материалы</h3>
      <p class="s-desc text-body-1 cl-text-2">
        Обзоры по выбору, проверке и использованию приборов и оборудования.
      </p>
    </div>
    <div class="tf-grid-layout sm-col-2 lg-col-3">
      {posts.slice(0, 3).map((post) => (
        <article class="article-blog hover-img wow fadeInUp">
          <a class="blog-image img-style" href={getPostUrl(post)}>
            <img
              alt={post.title}
              height="320"
              loading="lazy"
              sizes="(max-width: 575px) 100vw, (max-width: 991px) 45vw, 330px"
              src={getImageVariant(getPostImage(post, products), 330)}
              srcset={getImageSrcset(getPostImage(post, products), [220, 330, 440, 705])}
              width="520"
            />
            <div class="wrap-tags">
              <span class="tag text-caption-02 fw-semibold">{post.category}</span>
            </div>
          </a>
          <div class="blog-content">
            <p class="entry-date text-caption-01 fw-semibold cl-text-3">{post.date}</p>
            <h4 class="entry-title">
              <a class="link-underline link" href={getPostUrl(post)}>{post.title}</a>
            </h4>
            <p class="entry-desc cl-text-2">{post.excerpt}</p>
          </div>
        </article>
      ))}
    </div>
  </div>
</section>
