---
import {
  formatPrice,
  getOrderUrl,
  getProductCardImage,
  getProductCardSrcset,
  getProductHoverCardImage,
  getProductHoverCardSrcset,
  getProductUrl
} from "../lib/catalog.js";

const { product } = Astro.props;
const productUrl = getProductUrl(product);
const orderUrl = getOrderUrl(product);
const productImage = getProductCardImage(product, 330);
const productSrcset = getProductCardSrcset(product);
const hoverImage = getProductHoverCardImage(product, 330);
const hoverSrcset = getProductHoverCardSrcset(product);
const price = formatPrice(product.price, product.currency);
const oldPrice = product.old_price ? formatPrice(product.old_price, product.currency) : "";
const imageSizes = "(max-width: 575px) 46vw, (max-width: 1199px) 30vw, 330px";
---
<div class="swiper-slide">
  <div class="card-product">
    <div class="card-product_wrapper">
      <a class="product-img" href={productUrl}>
        <img alt="Товар" class="img-product" height="440" loading="lazy" sizes={imageSizes} src={productImage} srcset={productSrcset} width="330" />
        <img alt="Товар" class="img-hover" height="440" loading="lazy" sizes={imageSizes} src={hoverImage} srcset={hoverSrcset} width="330" />
      </a>
      <ul class="product-action_list">
        <li class="wishlist"><a aria-label={`Добавить в избранное: ${product.title}`} class="hover-tooltip tooltip-left box-icon" href="#;"><span class="icon icon-heart"></span><span class="tooltip">В избранное</span></a></li>
        <li class="compare"><a aria-label={`Сравнить: ${product.title}`} class="hover-tooltip tooltip-left box-icon" data-bs-toggle="offcanvas" href="#compare"><span class="icon icon-ArrowsLeftRight"></span><span class="tooltip">Сравнить</span></a></li>
        <li><a aria-label={`Быстрый просмотр: ${product.title}`} class="hover-tooltip tooltip-left box-icon" href={productUrl}><span class="icon icon-Eye"></span><span class="tooltip">Быстрый просмотр</span></a></li>
      </ul>
      {product.badges?.length > 0 && <ul class="product-badge_list">{product.badges.map((badge) => <li class="product-badge_item text-caption-01 new">{badge}</li>)}</ul>}
      <div class="product-action_bot"><a class="tf-btn btn-white small w-100" href={orderUrl} rel="noopener" target="_blank">Заказать</a></div>
    </div>
    <div class="card-product_info">
      <a class="name-product lh-24 fw-medium link-underline-text" href={productUrl}>{product.title}</a>
      <div class="star-wrap d-flex align-items-center"><i class="icon icon-Star"></i><i class="icon icon-Star"></i><i class="icon icon-Star"></i><i class="icon icon-Star"></i><i class="icon icon-Star"></i></div>
      <div class="price-wrap"><span class="price-new text-primary fw-semibold">{price}</span>{oldPrice && <span class="price-old text-caption-01 cl-text-3">{oldPrice}</span>}</div>
    </div>
  </div>
</div>
